body {
 	overflow-x: hidden;
	overflow-y: auto;
}
#container{
	position: absolute;
	width: 100%;
	top: 0px;
	display: grid;
	place-items: center;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	row-gap: 10px;
	column-gap: 20px;
	min-height: 100vh;
}

#cell{
	box-sizing: border-box;
	border: 0;
	padding: 0px;
}

/* 본문시작 */


.page1{
	position: relative;
	width: 100%;
	height: auto;
	
}

ul {
	list-style: none;
}
.smallnav {
	position: absolute;
	top: 50px;
	right:370px;
	font-size: 13px;
	z-index:1;
}

.smallnav li {
	display: inline-block;
}

.notepage{
 position: relative;
 top: 50px;
 left: 640px;
 width: 910px;
 height: auto;
 margin-bottom:200px;
 font-family: 'NanumSquareNeo';
}


/*큰 글씨*/
.bigtitle {
	line-height: 70px;
	border-bottom: 2px solid #6799FF;
	font-size:30px;
	font-weight: bold;
}

.icons button {
	background-color: #fff;
	font-size: 20px;
	border: none;
	margin: 20px;
	width: 160px;
	height: 140px;
	color: #000;
}

.coloricons button {
	background-color: #fff;
	font-size: 20px;
	border: none;
	margin: 20px;
	width: 160px;
	height: 0px;
	color: #000;
	
	position: relative;
	top: -210px;
	 z-index:-1;
}

.line1, .line2 {
	position: relative;
	top: 50px;
	left: 0px;
	height: 110px;
	padding: 0px;
	margin: 0px;
	display: inline-block;
	border-right: 2px solid #BDBDBD;
}

.line3, .line4 {
	position: relative;
	top: -160px;
	left: 0px;
	height: 110px;
	padding: 0px;
	margin: 0px;
	display: inline-block;
	border-right: 2px solid #fff;
	z-index:-1;
}


.qnabtn:hover, .paybtn:hover, .fnabtn:hover {
	cursor: pointer;
	opacity: 0.0;
}

.sammllnote {
	position: relative;
	font-weight: bold;
	font-size: 20px;
	top: 70px;
}
.more {
	position: relative;
	top: 10px;
	left: 850px;
	background-color: #fff;
	border: 0;
}

.more:focus {
	cursor: pointer;
	outline: none;
}

/*테이블*/
.table-striped {
	position: relative;
	text-align: center;
	top: 50px;
}


/*등록버튼*/
.qnainsert {
	position: relative;
	top: 40px;
	left: 790px;
	border: none;
	background-color: #8BBDFF;
	font-size: 16px;
	height: 40px;
	width: 100px;
	margin: 20px;
}

.qnainsert:hover {
	cursor: pointer;
	background-color: #79ABFF;
}

/* 푸터 페이지 */

#main_page_4 {
	position: relative;
	width: 100%;
	height: 250px;
	border: 0;
}

.footermenu {
	position: relative;
	left: 300px;
}

.footermenu ul {
	list-style: none;
}

.topmeun {
	display: inline-block;
	margin: 0px 20px 10px 10px;
	font-size: 14px;
}

.bottommenu {
	display: inline-block;
	margin: 0px 20px 0px 10px;
	font-size: 12px;
	font-weight: bold;
}

