body {
	overflow-x: hidden;
	overflow-y: auto;
}
#container{
	position: absolute;
	width: 100%;
	top: 0px;
	display: grid;
	place-items: center;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	row-gap: 10px;
	column-gap: 20px;
	min-height: 100vh;
}

#cell{
	box-sizing: border-box;
	border: 0;
	padding: 0px;
}

/* 본문시작 */

.page1{
	position: relative;
	width: 100%;
	height: auto;
	
}

ul {
	list-style: none;
}

.smallnav {
	position: absolute;
	top: 50px;
	right:370px;
	font-size: 13px;
	z-index:1;
}

.smallnav li {
	display: inline-block;
}

.notepage{
 position: relative;
 top: 50px;
 left: 640px;
 width: 910px;
 height: auto;
 margin-bottom:100px;
 font-family: 'NanumSquareNeo';
}

/*큰 글씨*/
.bigtitle {
	line-height: 70px;
	border-bottom: 2px solid #6799FF;
	font-size:30px;
	font-weight: bold;
}

/*셀렉트창1*/
.qnaok {
 width: 150px;
 height: 32px;
 font-size: 16px;
 border: 1px solid #BDBDBD;
}
/*셀렉트창2*/
.qnatitle {
 width: 100px;
 height: 32px;
 font-size: 16px;
 border: 1px solid #BDBDBD;
}

/*인풋*/
.qnasearch {
	width: 300px;
	height: 32px;
	font-size: 16px;
 	border: 1px solid #BDBDBD;
}

.qnabtn {
	background-color: #4093d0;
	font-size: 17px;
	border: none;
	padding:4px;
	margin: 10px;
	width: 90px;
	color: white;
}

.qnabtn:hover {
	cursor: pointer;
	background-color: #0e74be;
}


/*테이블*/
.table-striped {
	position: relative;
	text-align: center;
	top: 50px;
}

.table-striped td {
	cursor: pointer;
}

/*등록버튼*/
.qnainsert {
	position: relative;
	top: 40px;
	left: 790px;
	border: none;
	background-color: #8BBDFF;
	font-size: 16px;
	height: 40px;
	width: 100px;
	margin: 20px;
}

.qnainsert:hover {
	cursor: pointer;
	background-color: #79ABFF;
}



/* 페이지 버튼 */
.pagination {
	position: relative;
	margin-top:100px;
	left:40%;
	cursor: pointer;
}
